.categories-section {
  background-color: #1e2229;
  justify-content: space-between;
  padding: 20px 55px 15px 35px;
}

.categories-list {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  gap: 10px;
  align-items: center;
  list-style-type: none;
}

.button-category {
  width: 100px;
  height: 50px;
  align-items: center;
  background-color: #525a63;
  font-size: 15px;
  color: white;
  font-weight: 600;
  border-radius: 12px;      /* Bordas arredondadas ficam mais modernas */
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1); /* Transição suave */
  cursor: pointer;          /* Muda o mouse para a "mãozinha" */
  border: 1px solid transparent;
  /* padding-top: 10px; */
}

.button-category:hover {
  background-color: #4f4f4f;  /* Escurece um pouco o fundo */
  transform: translateY(-8px); /* O card "sobe" levemente */
  border-color: #6366f1;       /* Adiciona uma borda roxa (a cor que usamos no footer) */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Sombra para dar profundidade */
}

