header {
    display: flex; /* Aligns children (logo and nav) horizontally */
    justify-content: space-between; /* Pushes children to the ends */
    align-items: center; /* Aligns children vertically in the middle */
    background-color: #363d4f;
    color: white;
    padding: 15px;
    width: 100%;
}

nav ul {
    list-style: none; /* Removes bullet points */
    display: flex;
    margin-right: 65px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 20px;
    font-size: 19px;
}

h1 {
  margin-left: 63px;
}
/* Example of making it fixed/sticky */
/* header { position: fixed; top: 0; } */
